* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: wheat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  margin-top: -50px;
}
li {
  display: inline;
  
}
li a {
  float: right;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: gray;
 
}
header {
  margin-left: 0;
  margin-top: 5px;
  background-color: white;
  padding: 20px

}
.myname {
  background-color: teal;
  color: white;
  margin: 0;
  

}


  